<!DOCTYPE html>
<html>
<head>
    <title>{{ blog.title }}</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'blog/js/comments.js' %}"></script>
</head>
<body>
    <h1>{{ blog.title }}</h1>
    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" />
    <p>{{ blog.description }}</p>
    <h2>Comments</h2>
    
    <div id="comments">
        {% for comment in comments %}
            <p><strong>{{ comment.user.username }}</strong>: {{ comment.text }} ({{ comment.created_at }})</p>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>
    
    {% if user.is_authenticated %}
        <h3>Add a Comment</h3>
        <form id="commentForm" method="POST" action="{% url 'add_comment' pk=blog.pk %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Add Comment</button>
        </form>
    {% else %}
        <p>You need to <a href="{% url 'login' %}">log in</a> to comment.</p>
    {% endif %}
    
    {% if user.is_authenticated and blog.user == user %}
        <a href="{% url 'update_blog' pk=blog.pk %}">Edit</a>
        <a href="{% url 'delete_blog' pk=blog.pk %}">Delete</a>
    {% endif %}
   
</body>
</html>
